{% extends 'shopping/layout.html' %}

{% block title %}
    About Us
{% endblock %}

{% block body %}
    <div class="about-section paddingTB60 gray-bg">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-7 col-sm-6">
                        <div class="about-title clearfix">
                            <h1>About <span>Icing Tales</span></h1>
                            <h3>Our Slogan: We Create, You Celebrate</h3>
                            <p class="about-paddingB">For your occasions, parties or any sort of celebrations, we create amazing cakes just how you like it. You can choose over hundreds of different cakes and also customize it with your topping and flavor.</p>
                            <p><h5>Contact Us:</h5></p>
                            <div class="contact-info">
                                <div><strong>Phone: 0431 47 44 39</strong></div>
                                <div><strong>Email: icingtales@gmail.com</strong></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
