{% extends 'shopping/layout.html' %}
{% load static %}
{% block title %}
    Index
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('.cart').click(function () {
                let item_id = $(this).attr('data-id');
                let url = "{% url 'shopping:item' '1' %}".replace('1', item_id);
                console.log(url);
                $('.sure').attr('href', url);
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="banner container-md">
        <img class="img-responsive" src="{{ banner.url }}" width="100%" alt="Banner">
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Want to customize your cake e.g., Add Topping or Change Flavor?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger no-thanks" href="">No thanks</a>
            <a class="btn btn-success sure" href="#"> Sure </a>
          </div>
        </div>
      </div>
    </div>
    <div class="item-collection container-fluid px-4 py-3">
        <div class="item-collection-heading">
            Try Our New Cakes !!
        </div>
        <div class="row mb-4">
            {% for item in new_items %}
                <div class="col">
                    <div class="product-card card border-info">
                        <div class="card-title bg-info rounded d-flex justify-content-between">
                            <h6 class="text-white py-2 px-3">{{ item.name }}</h6>
                            <img src="{% static 'shopping/images/new.png' %}" class="tag mt-1 mx-2"/>
                        </div>
                        <div style="height:200px; width:200px;overflow:hidden; align-self: center;">
                            <img class="card-img img-responsive" src="{{ item.item_images.first.image.url }}" alt="{{ item.item_images.first.alt_image }}">
                        </div>
                        <div class="card-body text-secondary">{{ item.description }}</div>
                        <div class="price text-success px-3"><h6 class="mt-2">${{ item.price }}</h6></div>
                        <div class="d-flex px-3 justify-content-between">
                            <a {% if not request.user.is_authenticated %} href="{% url 'shopping:signin' %}" {% else %} href="" data-toggle="modal" data-target="#exampleModalCenter" data-id="{{ item.id }}" {% endif %} class="btn btn-info my-2 cart"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            <a href="{% url 'shopping:item' item.id %}" class="btn btn-info my-2"><i class="fas fa-search"></i> View Item</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <hr>
        <div class="item-collection-heading">
            Pick Our Customers' Favourite !!
        </div>
        <div class="row">
            {% for item in top4_purchases %}
                <div class="col-sm m-2">
                    <div class="product-card card border-info">
                        <div class="card-title bg-info rounded d-flex justify-content-between">
                            <h6 class="text-light py-2 px-3">{{ item.name }}</h6>
                            <img src="{% static 'shopping/images/best-seller.png' %}" class="tag mt-1 mx-2"/>
                        </div>
                        <div style="height:200px; width:200px;overflow:hidden; align-self: center;">
                            <img class="card-img img-responsive" src="{{ item.item_images.first.image.url }}" alt="{{ item.item_images.first.alt_image }}">
                        </div>
                        <div class="card-body text-secondary">{{ item.description }}</div>
                        <div class="price text-success px-3"><h6 class="mt-2">${{ item.price }}</h6></div>
                        <div class="d-flex px-3 justify-content-between">
                            <a {% if not request.user.is_authenticated %} href="{% url 'shopping:signin' %}" {% else %} href="" data-toggle="modal" data-target="#exampleModalCenter" data-id="{{ item.id }}" {% endif %} class="btn btn-info my-2 cart"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            <a href="{% url 'shopping:item' item.id %}" class="btn btn-info my-2"><i class="fas fa-search"></i> View Item</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
