{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shopping/css/styles.css' %}">
    {% block head %}
    {% endblock %}
    <script>
        $(document).ready(function(){
            $("td:contains(Ready)").css({'color':'#28a745', 'font-weight':'bolder'});
            $("td:contains(Pending)").css({'color': '#ffc107', 'font-weight':'bolder'});
            $("td:contains(Fulfilled)").css({'color': '#007bff', 'font-weight':'bolder'});
            $("td:contains(Cancelled)").css({'color': '#dc3545', 'font-weight':'bolder'});
        });

        $(document).ready(function(){
            $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
              if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
              }
              var $subMenu = $(this).next('.dropdown-menu');
              $subMenu.toggleClass('show');


              $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                $('.dropdown-submenu .show').removeClass('show');
        });


  return false;
});
        });
    </script>
    {% block javascript %}
    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body class="{% block body-class %}{% endblock %}">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="logo navbar-brand"
           href="{% if user.is_superuser or user.is_staff %} {% url 'shopping:admin' %} {% else %}{% url 'shopping:index' %} {% endif %}">
            <img class="img-responsive" src="{% static 'shopping/images/logo.png' %}" style="width:150px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                {% if user.is_staff or user.is_superuser %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'shopping:admin' %}">Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'shopping:products' %}">Products</a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Other Databases</a>
                        <div class="dropdown">
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'shopping:admin_flavors' %}">Flavors</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'shopping:admin_toppings' %}">Toppings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'shopping:admin_flowers' %}">Flowers</a>
                            </div>
                            </div>
                        </div>
                    </li>

                {% else %}
                    <li class="nav-item active">
                        {% url 'shopping:index' as url %}
                        <a class="nav-link" href="{{ url }}" {% if request.path == url %} style="color:black;" {% endif %}>Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" {% if '/category/' in request.path %} style="color:black;"{% endif %}>Cake Menu</a>
                        <div class="dropdown">
                            <div class="dropdown-menu dropright">
                                <div class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="">Occassions</a>
                                <div class="dropdown-menu">
                                  {% for category in cake_categories %}
                                      {% url 'shopping:category' category as url %}
                                      <a class="dropdown-item" href="{{ url }}" {% if request.path == url %} style="color:red;" {% endif %}>{{ category }}</a>
                                      <div class="dropdown-divider"></div>
                                  {% endfor %}
                                </div>
                                </div>
                                <div class="dropdown-divider"></div>

                                <div class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="">Flavors</a>
                                <div class="dropdown-menu">
                                  {% for flavor in cake_flavors %}
                                      {% url 'shopping:flavor' flavor as url %}
                                      <a class="dropdown-item" href="{{ url }}" {% if request.path == url %} style="color:red;" {% endif %}>{{ flavor }}</a>
                                      <div class="dropdown-divider"></div>
                                  {% endfor %}
                                </div>
                                </div>
                                <div class="dropdown-divider"></div>

                                <div class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="">Toppings</a>
                                    <div class="dropdown-menu">
                                      {% for topping in cake_toppings %}
                                          {% url 'shopping:topping' topping as url %}
                                          <a class="dropdown-item" href="{{ url }}" {% if request.path == url %} style="color:red;" {% endif %}>{{ topping }}</a>
                                          <div class="dropdown-divider"></div>
                                      {% endfor %}
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="">Flowers</a>
                                    <div class="dropdown-menu">
                                      {% for flower in flowers %}
                                          {% url 'shopping:flower' flower as url %}
                                          <a class="dropdown-item" href="{{ url }}" {% if request.path == url %} style="color:red;" {% endif %}>{{ flower }}</a>
                                          <div class="dropdown-divider"></div>
                                      {% endfor %}
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                            {% url 'shopping:category' 'all' as url %}
                                    <a class="dropdown-item" href="{{ url }}" {% if request.path == url %} style="color:black;" {% endif %}>All</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item active">
                        {% url 'shopping:sitemap' as url %}
                        <a class="nav-link" href="{{ url }}" {% if request.path == url %} style="color:black;" {% endif %}>Site Map</a>
                    </li>
                    <li class="nav-item active">
                        {% url 'shopping:aboutus' as url%}
                        <a class="nav-link" href="{{ url }}" {% if request.path == url %} style="color:black;" {% endif %}>About Us</a>
                    </li>
                    <form class="form-inline" action="{% url 'shopping:search' %}" method="get">
                        <input class="form-control mx-md-3" type="text" name="q" placeholder="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if not user.is_staff or not user.is_superuser %}
                        <li class="nav-item active mr-2">
                            <a class="nav-link" href="{% url 'shopping:cart' user.id %}"><i class="fas fa-shopping-cart"></i></a>
                        </li>
                    {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" {% if user.is_staff or user.is_superuser %} style="color:gold;" {% endif %}>
                            {% if user.is_staff %}
                                Admin
                            {% endif %}
                            <i class="fas fa-user-circle" aria-hidden="true"></i> <span>{{ user.first_name.upper }}</span>
                        </a>
                        <div class="dropdown">
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'shopping:profile' user.id %}"><i class="far fa-user"></i> Profile</a>
                                <div class="dropdown-divider"></div>
                                {% if not user.is_staff or not user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'shopping:purchases' user.id %}"><i class="fas fa-shopping-bag"></i> Purchases</a>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" href=""><i class="fas fa-envelope"></i> Messages</a>

                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="btn sign-out-btn" href="{% url 'shopping:signout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        {% url 'shopping:signin' as url %}
                        <a class="nav-link" href="{{ url }}" {% if request.path == url %} style="color:black;" {% endif %}><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
                    </li>
                    <li class="nav-item active">
                        {% url 'shopping:register' as url %}
                        <a class="nav-link" href="{{ url }}" {% if request.path == url %} style="color:black;" {% endif %}><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="page-content">
        {% block body %}
        {% endblock %}
    </div>
    <footer id="sticky-footer" class="py-4 text-light">
        <div class="container-fluid row mx-5">
            <div class="col-md-4 text-left px-5">
                <div class="d-flex flex-column">
                    <div><a href="" class="text-light"><small>Home</small></a></div>
                    <div><a href="" class="text-light"><small>About Us</small></a></div>
                    <div><a href="" class="text-light"><small>Site Map</small></a></div>
                    <div><a href="" class="text-light"><small>Terms and Conditions</small></a></div>
                </div>
            </div>
            <div class="col-md-4 text-left px-5">
                <div class="d-flex flex-column">
                    <div><a href="#" class="fa media-icon fa-facebook"></a><small> Facebook</small></div>
                    <div><a href="#" class="fa media-icon fa-instagram"></a><small> Instagram</small></div>
                    <div><a href="#" class="fa media-icon fa-twitter"></a><small> Twitter</small></div>
                    <div><a href="#" class="fa media-icon fa-youtube"></a><small> YouTube</small></div>
                </div>
            </div>
            <div class="col-md-4 text-left px-5">
                <div class="d-flex flex-column">
                    <div><a href="" class="text-light"><small>Careers</small></a></div>
                    <div><a href="" class="text-light"><small>FAQs</small></a></div>
                    <div><a href="" class="text-light"><small>Privacy Policy</small></a></div>
                </div>
            </div>
            <div class="w-100"><hr></div>
            <div class="w-100 text-center"><small>Copyright &copy; Icing Tales Cake</small></div>
        </div>
    </footer>

</body>
</html>