{% extends 'shopping/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Payment{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'shopping/css/order.css' %}">
{% endblock %}
{% block body %}
    <div class="container-fluid m-4">
        <h4 class="mb-2">Pay with PayPal</h4>
        <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <span><strong>Your Order</strong></span><br>
                    Items :<br> {% for item in order.order_items.all %}
                      {{ item.quantity }} {{ item.item.name }} (Topping: {{ item.topping }}, Flavor: {{ item.flavor }})<br>
                    {% endfor %}
                      <strong>Cost: ${{ order.price }}</strong><br><br>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {{ form.render }}
    </div>
{% endblock %}