{% extends 'shopping/layout.html' %}
{% load static %}
{% block title %}
    Sign In
{% endblock %}
{% block body-class %}{% endblock %}
{% block body %}
    <div class="sign-in container-sm p-1 bg-light">

        <form action="{% url 'shopping:signin' %}" method="post" class="form-signin">
            {% csrf_token %}
            {% if message %}
                <div class="alert alert-danger text-center">{{ message }}</div>
            {% endif %}
            <div class="container d-flex justify-content-center align-top">
                <img src="{% static 'shopping/images/logo.png' %}" style="width:200px;">
            </div>

            <h2 class="mb-3 font-weight-normal text-center">Please sign in</h2>
            {{ form }}
            <div class="checkbox mb-1 text-center">
                <label>
                    <input type="checkbox" value="remember-me" name="remember"> Remember me
                </label>
            </div>
            <div class="text-center form-description mb-2">
                <a href="">Forgot Email/Password</a>
            </div>
            <div class="text-center form-description text-muted mb-2">
                Don't have and account? <a href="{% url 'shopping:register' %}">Sign Up</a>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Sign In</button>

        </form>
    </div>
{% endblock %}
